<ng-container  >
    <main>
        <mat-toolbar>
            <p *ngIf="error"> Error </p>
            <h1  *ngIf="!error">{{resultsLength}} Issues</h1>
            <span class="spacer"></span>
            <button mat-raised-button color="warn" (click)="clear()" >Cerrar</button>
        </mat-toolbar>
        <section *ngIf="issuesList || error">
            <p *ngIf="error" class="error mat-elevation-z8">{{ error.message }}</p>
            
            <mat-accordion *ngIf="issuesList && !error">

                <mat-paginator 
                [length]="resultsLength" 
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageEventEmit($event)" 
                [showFirstLastButtons] = true>
                </mat-paginator>

                <mat-expansion-panel  *ngFor="let issue of issuesList$  | async;"  >
                    <mat-expansion-panel-header>
                    <mat-panel-title> {{issue.title}} </mat-panel-title>
                    </mat-expansion-panel-header>
                    <dl>
                        <div>
                            <dt>Usuario</dt>
                            <dd>{{issue.user.login}}</dd>
                        </div>

                        <div *ngIf="issue && issue.labels.length > 0">
                            <dt>Labels</dt>
                            <dd *ngFor="let label of issue.labels" >{{label.name}}</dd>
                        </div>
                        
                        <div>
                        <dt>Fecha creación</dt>
                        <dd>{{issue.created_at | date}}</dd>
                        </div>

                        
                        <div>
                        <dt>Fecha modificación</dt>
                        <dd>{{issue.updated_at | date}}</dd>
                        </div>

                        <div *ngIf="issue && issue.closed_at">
                            <dt>Fecha finalización</dt>
                            <dd>{{issue.closed_at | date}}</dd>
                        </div>

                        <div>
                        <dt>Comentarios</dt>
                        <dd >{{issue.comments}}</dd>
                        </div>
                    </dl>
                    <a [href]="issue.html_url" target="blank"><button mat-stroked-button color="accent">Ver en GitHub</button></a>
                </mat-expansion-panel>
            </mat-accordion>

        </section>
    </main>
</ng-container>

