<main>
    <h1>Introduce un repositorio de GitHub</h1> 
        <form [formGroup]="form" >
          <mat-form-field>
            <mat-label>Repositorio</mat-label>
            <input matInput formControlName="url" placeholder="https://github.com/irontec/ivozprovider">
          </mat-form-field>
          <small *ngIf="form.controls['url'].errors && form.controls['url'].errors.required && form.controls['url'].touched" class="mat-error">Inserta una url de Github</small>
          <small *ngIf="form.controls['url'].errors && form.controls['url'].errors.urlError" class="mat-error" >Debe comenzar con: `https://github.com/`</small>
        </form>
    <button mat-raised-button color="primary" (click)="dispatchGetIssues(form.value.url)"  [disabled]="form.invalid" >Ver Issues</button>
    <ng-content></ng-content>
</main>